.btnn {
    position: relative;
    top: 263px;
    right: 499px;
    color: white;
    width: fit-content;
}

section div span{
    top: 239px;
    right: 500px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
#form{
    position: relative;
    top: 600px;
    margin-bottom: 80px;
}
.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    color: antiquewhite;
    text-decoration: none;
}
.navbar{
    width: 100%;
    height: 90%;
}